[Desktop Entry]
Type=Application
Name=Proton Runner (Overlay)
Exec=FORCE_OVERLAY=true proton-run %f
MimeType=application/x-mswinurl;application/x-msi;application/x-ms-shortcut;application/x-ms-dos-executable;application/x-bat;
Icon=wine
NoDisplay=true
StartupNotify=true
